
/*Shopping-list 要的*/
.Shopping_hf{
	border: #6B8698 1px solid;
	width:50%;
	border-radius: 10px;
	margin-top: 20px;
	}
.Shopping_bk{
	border: #6B8698 1px solid;
	height: auto;
	border-radius: 5px;border-top: #93c0f1 4px solid;
	margin: 10px;padding: 30px;
	}
.Shopping_bk1,.Shopping_bk2,.Shopping_bk3,.Shopping_bk4{
	border: #6B8698 1px solid;
	height: auto;
	border-radius: 5px;
	border-top:#848ac0 4px solid;
	margin: 10px;
	padding: 30px;
	}
.Shopping_txt{color:#FAA7AA;font-size: 20px;}
.Shopping_zbtop{margin-top: 15px;}
/*修改内容列表样式开始*/
#listtlt{
	font-size: 18px;
}
#listtlt>p{
	font-size: 15px;
}
#listpics{
	width: 80%;
}
/*修改内容列表样式结束*/


/*个人中心开始*/
#minehead{
	background: #01a0ea;
}
#minehead>h1{
	font-size: 18px;
	color: #FFFFFF;
}
#minehead>span{
	color: #FFFFFF;
	font-size: 18px;
	line-height: 1.5em;
}
#mine_dang{
	background: #F3F3F3;
}
#mine_dang>a{
	font-size: 16px;
}

/*图标开始*/
.mineiconbox>ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background: #FFFFFF;
	margin:0 auto;
	margin-top: 10px;
}
.mineiconbox>ul>li{
	width: 25%;
	margin-top: 15px;
}
.mineiconbox>ul>li img{
	margin:0 auto;
	width:74%;
}
.mineiconbox>ul>li span{
	display: block;
	text-align: center;
	color: #a5a5a5;
	font-size: 15px;
}
/*图标结束*/
#minelist{
	margin-top: 10px;
}
#minelist_desc{
	font-size: 17px;
	line-height: 2.5em;
	color: #626262;
}
/*个人中心结束*/


/*登录开始*/
.lg_div{
	border: #CCCCCC 1px solid ;
	margin-top: 50%;
	width: 90%;
	margin-left: 5%;
	background: #FFFFFF;
	opacity:0.8;
	border-radius: 20px;
}
.lg_imgg{
	width: 200px;
	margin-top: -100px;
}
.lg_recpass{
	margin-top: 10px;
	border-radius: 20px;
}
.lg_bgimg{
	width: 100%;
	display: block;
	background-image:url(../img/login/bg.png);
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	margin-bottom: 0px;
	width:80%;
	height: 40px;
	margin-left: 10px;
}
.login_qita{
	margin-top: 30px;
	text-align: center;
	color: #01a0ea;
}
.login_qita>p{
	color:  #01a0ea;
}
.login_qita>ul{
	margin-top: 20px;
}
.login_qita>ul>li{
	margin-left: 10%;
	font-size: 2.2em;
}
/*登录结束*/



/*目的地开始*/
#md_head{
	background-color: #01a0ea;
}
#md_head>a,#md_head>h1{
	color: #fff;
}
#mdtlt{
	padding-top:6%;
	padding-bottom: 6%;
	text-align: center;
	background: #fff;
}
#mdtlt>p{
	font-size: 1.3em;
	color: #333;
}
.mdlist>ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.mdlist>ul>li{
	width: 33%;
	margin-top: 2%;
}
.mdlist>ul>li>img{
	width:97%;
}
.mdbtn{
	text-align: center;
	background: #fff;
	padding-bottom: 25%;
}
.mdbtn>button{
	background: #01a0ea;
	width: 95%;
	padding:12px;
}
/*目的地结束*/


/*trip行程*/
.trip_ul{
	background-color: #efeff4;
	}
.tri_li_left{
	height: 150px;
	border-radius: 10px;
	background: #FFFFFF;
	overflow: hidden;
	position:relative;
	}
.tri_li_div1{
	width: 30%;
	height: 150px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #6EB2E3;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	}
.tri_li_p{
	color: #FFFFFF;
	}
.tri_li_span{
	color: #FFFFFF;
	font-size: 1.5em;
	}
.tri_li_div2{
	position: absolute;
	bottom: 10px;
	color: #FFFFFF;
	}
.tri_li_right{
	height: 150px;
	overflow: hidden;
	padding: 20px;
	position: relative;
	}
.tri_li_cardzh{
	position: absolute;
	bottom: 7px;
	}
.tri_li_cardzh_p{
	font-size: 0.7em;
	}
.tri_li_cardzh_dv{
	margin-left: 2em;
	}
.tri_li_hr{
	border:none;
	border-top:1px dotted #6EB2E3;
	}

/*trip-details*/
#xzdetail_head{
	background-color: #01a0ea;
}
#xzdetail_head>h1{
	color: #fff;
	font-size: 18px;
}
.tripdetails_topbg{
	background:#6EB2E3;
	height: 100px;
	}
.tripdetails_card{
	height: 200px;
	margin: 10px;
	border-radius: 10px;
	margin-top: -70px;
	background:#5592bd;
	}
.tripdetails_card_a{
	height: 70px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #FFFFFF;
	padding-top: 15px;
	}
.tripdetails_card_span{
	font-size: 14px;
	}
.tripdetails_card_text{
	color: #FFFFFF;
	}
.tripdetails_span1{
	color:#70B2F9;
	padding-right: 15px;
	}
.tripdetails_ul{
	margin-top: 30px;
	}